<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Paytone+One&family=Squada+One&display=swap" rel="stylesheet">
    <!-- fontawesome.com -->
    <script src="https://kit.fontawesome.com/fc0067d5fd.js" crossorigin="anonymous"></script>
    <!-- swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <!-- masonry 瀑布流 -->
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
    <!-- imagesLoaded -->
    <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>

  </head>

  <body>
    
  <!-- 會用到的ICON -->
  <i class="fa-solid fa-magnifying-glass"></i>
  <i class="fa-solid fa-wallet"></i>
  <i class="fa-brands fa-ethereum"></i>
  <i class="fa-solid fa-bars"></i>
  <i class="fa-brands fa-discord"></i>
  <i class="fa-brands fa-facebook-f"></i>
  <i class="fa-solid fa-globe"></i>
  <i class="fa-brands fa-twitter"></i>
  <i class="fa-solid fa-sort"></i>
  <i class="fa-solid fa-plus"></i>
  <i class="fa-solid fa-minus"></i>
  <i class="fa-solid fa-check"></i>

    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-secondary border-bottom border-dark p-0">
        <div class="container">
          <a class="navbar-brand w-25" href="index.html">
            <img class="img-fluid" src="./assets/images/week8-202207/logo.svg" alt="">
          </a>
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item d-flex align-items-center border-start border-dark py-8 px-12">
                <input type="text" class="bg-secondary border-0 me-6" id="search" placeholder="搜尋作品名稱、藝術家名稱">
                <label for="search" class="form-label mb-0 nav-link" style="cursor: pointer;">  
                  <i class="fa-solid fa-magnifying-glass fs-5"></i>
                </label>
              </li>
              <li class="nav-item border-start border-dark py-8 px-12">
                <a class="nav-link fw-bold" href="probe.html">探索</a>
              </li>
              <li class="nav-item border-start border-dark py-8 px-12">
                <a class="nav-link fw-bold" href="#">市值</a>
              <li class="nav-item border-start border-dark py-8 ps-12">
                <a class="nav-link " href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  <i class="fa-solid fa-wallet fs-5" ></i>
                </a>
              </li>
            </ul>
           
          </div>
        </div>
      </nav>
    </header>

    <%- contents %>

    <footer class="bg-secondary  pt-6 pb-4 position-relative border-top border-dark ">
      <p class="text-center mb-0 ">© ART NFT. All Rights Reserved</p>
    </footer>

    <!-- 錢包 Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content ">
          <div class="modal-header border-dark text-center justify-content-center">
            <h5 class="modal-title" id="exampleModalLabel">連結你的錢包</h5>
          </div>
          <div class="modal-body py-6">
            <div class="row">
              <div class="col-6">
                <a href="#" class="border border-dark p-4 d-block">
                  <img class="img-fluid me-4" src="./assets/images/week8-202207/logo/connect01.png" alt="" style="width: 16px;">
                  MetaMask
                </a>
              </div>
            </div>
          </div>
          <div class="modal-footer justify-content-center border-0">
            <button type="button" class="btn btn-primary text-light px-12 p" data-bs-dismiss="modal">連結錢包</button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
          </div>
        </div>
      </div>
    </div>

    <script src="./assets/js/vendors.js"></script>
    <!-- swiper -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <!-- Masonry -->
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
    <!-- Masonry imagesLoaded -->
    <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>