.pseudo-border{
    position: relative;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        height: 20px;
        background-color: $dark;
    }
    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 1px;
        height: 20px;
        background-color: $dark;
    }
}