
.artist{
  .swiper {
    width: 100%;
    height: 440px;
    &-img{
      position: absolute;
      height: 90%;
      img{
        width: 100%;
      height: 100%;
      object-fit: cover;
      }
    }
    &-slide {
      // background-position: center;
      // background-size: cover;
      width: 50%;
    }
  }
  .swiper-pagination {
    // position: unset;
    width: auto;
    .swiper-pagination-bullet {
      background-color: $dark;
      opacity: initial;
      border-radius: 0;
      &-active {
        width: 16px;
        background-color: $primary;
        // border-radius: 100px;
      }
    }
  }
}
.join {
  .control {
    position: relative;

    &::before {
      content: "";
      border-top: 4px solid $dark;
      position: absolute;
      left: 0;
      top: -8px;
      width: 100%;
    }

    &::after {
      content: "";
      border-top: 4px solid $dark;
      position: absolute;
      left: 0;
      bottom: -8px;
      width: 100%;
    }
  }
}
