.firstView{
  .square{
    &-Img{
      background-size: cover;
      background-position:center;
      background-repeat: no-repeat;
      height: 375px;
    }
    &-commend1{
      background-image: url(../images/week8-202207/art02.jpg);
    }
    &-commend2{
      background-image: url(../images/week8-202207/art21.jpg);
    }
  }
  
}
.ranking{

  // 圖片
  &-Img{
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat; 
    position: relative;
    // 圖片hover
    &::before{
      content: "";
      background-color: transparent;
      width: 100%;
      height: 100%;
      display: block;
      opacity: 0.5;
    }
    &::after{
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      opacity: 0;
      border-style: solid;
      border-width: 0 0 16px 16px;
      border-color: transparent transparent $primary transparent;
      
    }
    &-btn{
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 3;
      opacity: 0;
      &:hover{
        opacity: 1;
      }
    }
    &:hover{
      &::before{
        background-color: $dark;
      }
      &::after{
        opacity: 1;
      }
    }
    
    // 圖片大小
    &-lg{
      height: 380px;
    }
    &-sm{
      width: 87px;
      height: 95px;
      position: relative;
      &::before{
        content:"more";
        color: #fff;
        opacity: 1;
        font-size: 20px;
        display: none;
        justify-content: center;
        align-items: center;
      }
      &::after{
        content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      border-style: solid;
      border-width: 0 0 16px 16px;
      border-color: transparent transparent $primary transparent;
      }
      &:hover{
        &::before{
          display: flex;
          opacity: 0.7;
        }
      }
    }
  }
  // 圖片來源
  &-commend1{
    background-image: url(../images/week8-202207/art04.jpg);
  }
  &-commend2{
    background-image: url(../images/week8-202207/art05.jpg);
  }
  &-commend3{
    background-image: url(../images/week8-202207/art06.jpg);
  }
  &-commend4{
    background-image: url(../images/week8-202207/art13.jpg);
  }
  &-commend5{
    background-image: url(../images/week8-202207/art07.jpg);
  }
  &-commend6{
    background-image: url(../images/week8-202207/art08.jpg);
  }

  // 左上數字
  &-number{
    &::before{
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
      background-color: $white;
      width: 48px;
      height: 48px;
      padding: 8px;
      border-right: 1px solid $dark;
      border-bottom: 1px solid $dark;
      font-family: 'Paytone One', sans-serif;
      font-size: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-1{
      &::before{
        content:"1";
      }
    }
    &-2{
      &::before{
        content:"2";
      }
    }
    &-3{
      &::before{
        content:"3";
      }
    }
  }

}



  .join {
    .control {
      position: relative;

      &::before {
        content: "";
        border-top: 4px solid $dark;
        position: absolute;
        left: 0;
        top: -13px;
        width: 100%;
      }

  
    }
  }
  .overlay{
    cursor: pointer;
    &-text{
      display: none;
      left: 0;
      top: 0;
      padding: 32px;
    }
    &-link{
      display: none;
      right: 32px;
      bottom: 32px;
      z-index: 1;
    }
    &:hover{
      &::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $black;
        opacity: 0.7;
      }
      &::after{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: calc(100% - 32px);
        height: calc(100% - 32px);
        margin:  15px;
        border: 1px solid $white;
      }
      .overlay-text,.overlay-link{
        display: block;
      }
    }
    
  }