

.triangleControl{
  position: relative;
  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 11px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 24px 24px 0 0;
    border-color: $dark transparent transparent transparent;
  }
  &::after{
    content: "";
    position: absolute;
    top: 0;
    right: 11px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 24px 24px 0;
    border-color: transparent $dark transparent transparent;
  }
}
