//分頁
.swiper-pagination {
  // position: unset;
  width: auto;

  .swiper-pagination-bullet {
    background-color: $dark;
    opacity: initial;
    border-radius: 0;

    &-active {
      width: 16px;
      background-color: $primary;
      // border-radius: 100px;
    }
  }
}

.swiper-container {
  width: 100%;
  // margin: 40px 0;
  padding: 45px 0;
  height: 439px;
  position: initial;

  
}

.swiper-slide {
  filter: grayscale(100);
  overflow: hidden;
  transition: .7s;
  width: 100%;
  height: 75%;
}

.swiper-slide img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  @include RWD(992px){
    height: 70%;
  }
}

.swiper-slide-prev{
  width: 25%!important;
  transform: scale(0.8) !important;
  @include RWD(992px){
    width: 100%!important;
  }
  // 文字消失
  .swiper{
    &-point,&-title,&-link{
      display: none;
    }
  }
}

.swiper-slide-active {
  width: 50% !important;
  z-index: 1;
  filter: grayscale(0);
  transform: scale(1.5);
  @include RWD(992px){
    width: 100%!important;
  }
  // 文字出現
  .swiper{
    &-point,&-title,&-link{
      display: block;
    }
  }
}
.swiper-slide-next{
  width: 25%!important;
  transform: scale(0.8) !important;
  @include RWD(992px){
    width: 100%!important;
  }
  // 文字消失
  .swiper{
    &-point,&-title,&-link{
      display: none;
    }
  }
}
.swiper{
  &-point{
    top: 24px;
    left: 24px;
    @include RWD(992px){
      top: 8px;
      left: 8px;
    }
  }
  &-title{
    position: absolute;
    bottom: 15%;
    left: 24px;
    width: 50%;
    @include RWD(992px){
      width: 100%;
      left: 0;
      bottom: 10%; 
      // position: initial;
    }
  }
  &-link{
    bottom: 15%;
    right: 24px;
    @include RWD(992px){
      right: 8px;
      bottom: 32%;
    }
  }
}